 <!-- @{ 
  Layout = "_Layout";
}
<h1>Factory!</h1>

<p>Tag Line Goes Here</p>

<p>@Html.ActionLink("See all engineers!", "Index", "Engineers")</p> <p>@Html.ActionLink("See all Machines", "Index", "Machines")</p> -->
